@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.link {
  font-family: "Nunito", sans-serif;
}
